h3 List Order

.container-fluid(ng-controller="DataTableController")

  // START DATATABLE 2 产品名称
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading 
        .panel-body
          table#datatable2.table.table-striped.table-hover
            thead
              tr
                th 订单编号
                th 状态
                th 总金额
                th 用户
                th 物流编号
                th 创建时间
                th 类型
                th 负责人
            tbody
              tr.gradeX
                td Trident
                td Internet Explorer 4.0
                td 10000
                td Win 95+
                td 4
                td X
                td X
                td hangzhou
            tfoot
              tr
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_rendering_engine', placeholder='Filter Rendering engine')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_browser', placeholder='Filter Browser')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_browser', placeholder='Filter Browser')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_platform', placeholder='Filter Platform')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_engine_version', placeholder='Filter Engine version')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_css_grade', placeholder='Filter CSS grade')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_css_grade', placeholder='Filter CSS grade')
                th
                  input.form-control.input-sm.datatable_input_col_search(type='text', name='filter_css_grade', placeholder='Filter CSS grade')
  // END DATATABLE 2 
